table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  td {
    background-color: #1d726f;
    border: 1px solid #1d726f;
    text-align: left;
    padding: 8px;
  }

  td {
    border: 1px solid #1d726f;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #b6f1e5;
    border: 1px solid #000000;
  }

  img {
      width: 200px;
      height: 150px;
  }